# Datawhale 组队学习 Pandas 教程（下）综合练习

In [1]:
import numpy as np
import pandas as pd

## 一、端午节的淘宝粽子交易

In [2]:
df = pd.read_csv('joyful-pandas-master/端午粽子数据.csv')
df.head()

                                  标题    价格      付款人数        店铺  发货地址
0   五芳斋粽子礼盒 心悦+18只装咸鸭蛋组合端午节礼品团购嘉兴肉粽子   129      6人付款  五芳斋官方旗舰店  浙江 嘉兴
1  北京稻香村端午粽子手工豆沙粽220g*2袋散装豆沙粽香甜软糯豆沙粽    44      8人付款      天猫超市     上海
2     五芳斋粽子礼盒装鲜肉咸蛋黄大肉粽嘉兴豆沙甜粽端午团购散装礼品  89.9  100万+人付款  五芳斋官方旗舰店  浙江 嘉兴
3     稻香私房鲜肉粽蛋黄肉粽嘉兴粽子咸鸭蛋礼盒装端午节送礼特产团购   138   1936人付款  稻香村食品旗舰店     北京
4     嘉兴粽子 蛋黄鲜肉粽新鲜大肉粽早餐散装团购浙江特产蜜枣多口味   3.8  9500+人付款     城城喂食猫  浙江 嘉兴

### 问题 
#### (1) 请删除最后一列为缺失值的行，并求所有在杭州发货的商品单价均值。

In [3]:
df.columns

Index(['标题', ' 价格', '付款人数', '店铺', '发货地址 '], dtype='object')

In [4]:
df.columns = df.columns.str.strip()
df.columns

Index(['标题', '价格', '付款人数', '店铺', '发货地址'], dtype='object')

In [5]:
df.dropna(axis=0, subset=['发货地址'], inplace=True)
df.head()

                                  标题    价格      付款人数        店铺   发货地址
0   五芳斋粽子礼盒 心悦+18只装咸鸭蛋组合端午节礼品团购嘉兴肉粽子   129      6人付款  五芳斋官方旗舰店  浙江 嘉兴
1  北京稻香村端午粽子手工豆沙粽220g*2袋散装豆沙粽香甜软糯豆沙粽    44      8人付款      天猫超市     上海
2     五芳斋粽子礼盒装鲜肉咸蛋黄大肉粽嘉兴豆沙甜粽端午团购散装礼品  89.9  100万+人付款  五芳斋官方旗舰店  浙江 嘉兴
3     稻香私房鲜肉粽蛋黄肉粽嘉兴粽子咸鸭蛋礼盒装端午节送礼特产团购   138   1936人付款  稻香村食品旗舰店     北京
4     嘉兴粽子 蛋黄鲜肉粽新鲜大肉粽早餐散装团购浙江特产蜜枣多口味   3.8  9500+人付款     城城喂食猫  浙江 嘉兴

In [6]:
df['价格'][~(df['价格'].str.replace(r'-?\d+\.?\d+','True')=='True')]

538     45.9.
1353        5
2183        5
2537        4
2813        9
3127        4
3166        9
3174        6
3284        4
3390        5
3506        5
3637        4
3697        5
3841        4
3989        4
4000        4
4062        4
4124        5
4146        9
4329        5
4376      45_
Name: 价格, dtype: object

In [7]:
df['价格'][538,4376] = [45.9,45]
df[df['发货地址'].str.contains(r'杭州')]['价格'].astype(float).mean()

80.90088888888889

#### (2) 商品标题带有“嘉兴”但发货地却不在嘉兴的商品有多少条记录？

In [8]:
df_jx = df[df['标题'].str.contains(r'嘉兴')]
df_jx.head()

                                 标题    价格      付款人数               店铺   发货地址
0  五芳斋粽子礼盒 心悦+18只装咸鸭蛋组合端午节礼品团购嘉兴肉粽子   129      6人付款         五芳斋官方旗舰店  浙江 嘉兴
2    五芳斋粽子礼盒装鲜肉咸蛋黄大肉粽嘉兴豆沙甜粽端午团购散装礼品  89.9  100万+人付款         五芳斋官方旗舰店  浙江 嘉兴
3    稻香私房鲜肉粽蛋黄肉粽嘉兴粽子咸鸭蛋礼盒装端午节送礼特产团购   138   1936人付款         稻香村食品旗舰店     北京
4    嘉兴粽子 蛋黄鲜肉粽新鲜大肉粽早餐散装团购浙江特产蜜枣多口味   3.8  9500+人付款            城城喂食猫  浙江 嘉兴
5      嘉兴特产粽子礼盒装甜咸粽8粽4味真空手工农家粽端午节团购  58.8     17人付款  chenyan30151467  浙江 嘉兴

In [9]:
df_jx[~df_jx['发货地址'].str.contains(r'嘉兴')].head()

                                   标题    价格     付款人数        店铺 发货地址
3      稻香私房鲜肉粽蛋黄肉粽嘉兴粽子咸鸭蛋礼盒装端午节送礼特产团购   138  1936人付款  稻香村食品旗舰店   北京
6        五芳斋华礼竹篮礼盒1360g蛋粽组合端午礼品嘉兴粽子礼盒   159  1028人付款      天猫超市   上海
8   真真老老嘉情礼盒10粽6蛋1.52kg/盒嘉兴粽子端午节粽子礼盒装   109  2117人付款      天猫超市   上海
9   五芳斋嘉兴粽子新鲜量贩蛋黄肉粽豆沙粽悦喜散装端午特产600g*2袋  59.9  1349人付款      天猫超市   上海
10       真真老老粽子臻芯800g/盒*1端午节礼盒装嘉兴特产送礼    75  1815人付款      天猫超市   上海

#### (3) 请按照分位数将价格分为“高、较高、中、较低、低”5 个类别，再将 类别结果插入到标题一列之后，最后对类别列进行降序排序。

In [10]:
df['价格'].astype(float).sort_values().head()

1548    2.8
1760    2.8
3516    2.9
1441    2.9
1547    3.2
Name: 价格, dtype: float64

In [11]:
s = pd.cut(df['价格'].astype(float), [0,400,800,1200,1600,2000], labels=['低','较低','中','较高','高'])
s.head()

0    低
1    低
2    低
3    低
4    低
Name: 价格, dtype: category
Categories (5, object): [低 < 较低 < 中 < 较高 < 高]

In [12]:
df.insert(2, '类别', s)
df.sort_values('类别',ascending=False).head()

                                  标题     价格  类别     付款人数           店铺   发货地址
2798  御茶膳房端午节礼品黄酒有机粽子咸鸭蛋手提竹篮礼盒装高端大礼包   1780   高    12人付款      御茶膳房旗舰店     北京
153    端午节礼品礼盒装组合高档有机粽子咸鸭蛋送领导高端送礼大礼包    858   中    45人付款      御茶膳房旗舰店     北京
794   嘉兴粽子新鲜大肉粽蛋黄肉粽甜粽竹篮粽子礼盒装组合端午送礼团购  857.9   中  2491人付款        千味食代i  浙江 嘉兴
2509    御茶膳房端午节礼品有机粽子咸鸭蛋手提竹篮礼盒装高端大礼包   1088   中     9人付款      御茶膳房旗舰店     北京
4072  知味观香溢满堂嘉兴风味特产蛋黄鲜肉粽手工甜粽 端午节粽子礼盒    425  较低     3人付款  tb915278250  浙江 杭州

#### (4) 付款人数一栏有缺失值吗？若有则请利用上一问的分类结果对这些缺失 值进行合理估计并填充。

In [24]:
df[df['付款人数'].isna()].head()

                                    标题    价格 类别 付款人数     店铺 发货地址
183  五芳斋 140g*8只大粽子 福韵端午豆沙蜜枣蛋黄粽新包装送礼礼盒  50.9  低  NaN  天猫会员店   上海
243          五芳斋福雅五芳粽子礼盒端午咸甜粽子绿豆糕咸鸭蛋送礼  79.9  低  NaN  天猫会员店   上海
347        【百草味】龙腾粽1090g 早餐大肉粽子湖州特产嘉兴粽  39.9  低  NaN  天猫会员店   上海
386       五芳斋华礼竹篮礼盒1360g蛋粽组合端午礼品嘉兴粽子礼盒   129  低  NaN  天猫会员店   上海
389    百草味 龙腾粽礼盒1460g 10只装早餐大肉粽子湖州特产嘉兴  49.9  低  NaN  天猫会员店   上海

In [25]:
df_f1=df[~df['付款人数'].isna()]
df_f1.head()

                                  标题    价格 类别      付款人数        店铺   发货地址
0   五芳斋粽子礼盒 心悦+18只装咸鸭蛋组合端午节礼品团购嘉兴肉粽子   129  低      6人付款  五芳斋官方旗舰店  浙江 嘉兴
1  北京稻香村端午粽子手工豆沙粽220g*2袋散装豆沙粽香甜软糯豆沙粽    44  低      8人付款      天猫超市     上海
2     五芳斋粽子礼盒装鲜肉咸蛋黄大肉粽嘉兴豆沙甜粽端午团购散装礼品  89.9  低  100万+人付款  五芳斋官方旗舰店  浙江 嘉兴
3     稻香私房鲜肉粽蛋黄肉粽嘉兴粽子咸鸭蛋礼盒装端午节送礼特产团购   138  低   1936人付款  稻香村食品旗舰店     北京
4     嘉兴粽子 蛋黄鲜肉粽新鲜大肉粽早餐散装团购浙江特产蜜枣多口味   3.8  低  9500+人付款     城城喂食猫  浙江 嘉兴

In [36]:
df_f2 = df_f1[df_f1['付款人数'].str.contains(r'万')]['付款人数'].str.split('万',expand=True)[0].astype('float')*10000
df_f2

2       1000000.0
11        20000.0
14       700000.0
26        85000.0
36       100000.0
          ...
1333      10000.0
1646      15000.0
1756      70000.0
3155      15000.0
3468      20000.0
Name: 0, Length: 65, dtype: float64

In [38]:
df_f3 = df_f1['付款人数'][[i for i in df_f1.index if i not in df_f2.index]].str.split('人付款',expand=True)[0].str.replace(r'\s+','').str.replace(r'+','').astype('float')
df_f3

0          6.0
1          8.0
3       1936.0
4       9500.0
5         17.0
         ...
4398     347.0
4399      80.0
4400       5.0
4401     149.0
4402      20.0
Name: 0, Length: 4264, dtype: float64

In [43]:
a = pd.concat([df_f2,df_f3])
a.sort_index()

0             6.0
1             8.0
2       1000000.0
3          1936.0
4          9500.0
          ...
4398        347.0
4399         80.0
4400          5.0
4401        149.0
4402         20.0
Name: 0, Length: 4329, dtype: float64

In [52]:
df_f4 = df[['类别','付款人数']].copy()
df_f4['付款人数'].update(a)
df_f4

     类别   付款人数
0     低      6
1     低      8
2     低  1e+06
3     低   1936
4     低   9500
...  ..    ...
4398  低    347
4399  低     80
4400  低      5
4401  低    149
4402  低     20

[4400 rows x 2 columns]

In [67]:
df_f5 = df_f4['付款人数'].astype('float').sort_index().interpolate(limit_direction='both')
df_f5

0             6.0
1             8.0
2       1000000.0
3          1936.0
4          9500.0
          ...
4398        347.0
4399         80.0
4400          5.0
4401        149.0
4402         20.0
Name: 付款人数, Length: 4400, dtype: float64

In [75]:
df_f5.isna().sum()

0

#### (5) 请将数据后四列合并为如下格式的 Series：商品发货地为 ××，店铺为 ××，共计 ×× 人付款，单价为 ××。

In [76]:
s1 = '商品发货地为 '+ df['发货地址']+' ,店铺为'+df['店铺']+', 共计 '+df_f4['付款人数'].astype('int').astype('str')+'人付款, 单价为'+df['价格'].astype('str')

ValueError: cannot convert float NaN to integer

#### (6) 请将上一问中的结果恢复成原来的四列。